.stylingpic{
    margin-top: 30px;
}
.HomeClass{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1000px){
    .ImageClass img{
        width: 850px;
    }
}

@media screen and (max-width:896px){
    .ImageClass img{
        width: 850px;
    }
}
@media screen and (max-width:768px){
    .ImageClass img{
        width: 760px;
    }
}
@media screen and (max-width:640px){
    .ImageClass img{
        width: 600px;
    }
}
@media screen and (max-width:320px){
    .ImageClass img{
        width: 320px;
    }
}
